@model GPSInformation.DBManagers.ModelPagination<GPSInformation.Models.Evaluacion>

@{
    ViewData["Title"] = "Evaluaciones " +Model.MaxPages;
}
@section MenuTop{
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="d-none d-md-block">
            <a asp-action="Create" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="plus" class="wd-10 mg-r-5"></i>Crear nuevo</a>
        </div>
    </div>
}
<div class="table-responsive-sm">
    <nav aria-label="Page navigation " class="mt-4 mb-4">
        <form asp-action="Index" method="get" id="f_filter">
            <div class="form-row col-6">
                <div class="form-group col-md-5">
                    <label>Filtro</label>
                    <input type="hidden" name="Page" asp-for="PageSelected" />
                    <div class="search-form">
                        <input type="search" class="form-control" placeholder="buscar">
                        <button class="btn" type="button"><i data-feather="search"></i></button>
                    </div>
                </div>
                <div class="form-group col-md-2 d-flex align-items-end">
                    
                    <select asp-for="RowsPerPage" onchange="document.getElementById('f_filter').submit()" class="custom-select">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </form>
        
        <ul class="pagination  pagination-filled justify-content-end mg-b-0">
            @foreach (var item in Model.Pages)
            {
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Before)
                {
                    <li class="page-item"><a class="page-link page-link-icon" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })"><i data-feather="chevron-left"></i></a></li>
                }
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Next)
                {
                    <li class="page-item"><a class="page-link page-link-icon" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })"><i data-feather="chevron-right"></i></a></li>
                }
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Page)
                {
                    if (item.Active)
                    {
                        <li class="page-item active"><a class="page-link" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })">@item.Numero</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })">@item.Numero</a></li>
                    }
                }
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Space)
                {
                    <li class="page-item"><span class="page-link">...</span></li>
                }
            }
        </ul>
    </nav>
    <table class="table table-condensed table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().IdEvaluacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().IdPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().InicioFecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().InicioHora)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.FinFecha)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().FinHora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().IdModalidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().IdEvaluacionTemplate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Activa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Creada)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Actualizada)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEvaluacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="tx-uppercase">
                        @if (item.IsInterno)
                        {
                            @Html.DisplayFor(modelItem => item.PonenteNameExt)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PersonaName)
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InicioFecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InicioHora)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.FinFecha)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FinHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModalidadName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModeloName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creada)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Actualizada)
                        </td>*@
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdEvaluacion }) |
                        @Html.ActionLink("Dashboard", "Details", new { id = item.IdEvaluacion }, new { title = "Administrar evaluación", target = "_blank" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span>Total de registros: @Model.Data.Count()</span>
    <nav aria-label="Page navigation " class="mt-4">
        <ul class="pagination  pagination-filled justify-content-end mg-b-0">
            @foreach (var item in Model.Pages)
            {
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Before)
                {
                    <li class="page-item"><a class="page-link page-link-icon" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })"><i data-feather="chevron-left"></i></a></li>
                }
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Next)
                {
                    <li class="page-item"><a class="page-link page-link-icon" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })"><i data-feather="chevron-right"></i></a></li>
                }
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Page)
                {
                    if (item.Active)
                    {
                        <li class="page-item active"><a class="page-link" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })">@item.Numero</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Index","Evaluacion", new { Page = item.Numero, RowsPerPage = Model.RowsPerPage })">@item.Numero</a></li>
                    }
                }
                if (item.Tipe == GPSInformation.DBManagers.PagesButons.Space)
                {
                    <li class="page-item"><span class="page-link">...</span></li>
                }
            }
        </ul>
    </nav>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            'use strict'

            $('.table').DataTable({
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                },
                searching: false,
                paging: false,
                info: false,
                columnDefs: [{ orderable: false, targets: 0 }],
            });

        });
    </script>
}

