@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var controllerAction = this.ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Gestión de personal v1</title>
    @if (controllerName == "Contrato" && controllerAction == "Determinado" ||
       controllerName == "Contrato" && controllerAction == "Indeterminado" ||
       controllerName == "Usuario" && controllerAction == "DetailsEmail" ||
       controllerName == "Evaluacion" && controllerAction == "EmailDetails")
    {
        <style>
            @@import url('https://fonts.googleapis.com/css?family=Open+Sans');
            @@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

            body {
                font-family: "Roboto";
                /*font-family: "Open Sans";*/
            }
        </style>
    }
    else
    {
        <environment include="Development">
            <partial name="_Styles" />
        </environment>
        <environment exclude="Development">
            <partial name="./_Styles" />
        </environment>

        <link href="~/css/site.css" rel="stylesheet" />

        @RenderSection("Style", required: false)
    }

</head>
<body class="pos-relative" data-spy="scroll" data-target="#navSection" data-offset="120">

    @if (controllerName == "Login" ||
controllerName == "Contrato" && controllerAction == "Determinado" ||
controllerName == "Contrato" && controllerAction == "Indeterminado" ||
controllerName == "BuzonQueja" && controllerAction == "Create" ||
controllerName == "BuzonQueja" && controllerAction == "Complete" ||
controllerName == "Evaluacion" && controllerAction == "EmailDetails")
    {
        if (controllerName == "Login" || controllerName == "BuzonQueja" && controllerAction == "Create" || controllerName == "BuzonQueja" && controllerAction == "Complete")
        {
            <partial name="_NavBarSinLogin" />
        }
        else
        {

        }
        @RenderBody()
    }
    else
    {
        <partial name="_NavBar" />
        @if (controllerName == "Sala" && controllerAction == "Reservar" 
            || controllerName == "Usuario" && controllerAction == "DetailsEmail" 
            || controllerName == "FormacionCapacitacion" && controllerAction == "Formacion" 
            || controllerName == "IncPermiso" && controllerAction == "CompleteProcess" 
            || controllerName == "IncVacacion" && controllerAction == "CompleteProcess")
        {
            @if (controllerName == "Sala" && controllerAction == "Reservar"
               || controllerName == "IncPermiso" && controllerAction == "CompleteProcess"
               || controllerName == "FormacionCapacitacion" && controllerAction == "Formacion"
               || controllerName == "IncVacacion" && controllerAction == "CompleteProcess")
            {

                @RenderBody()
            }
        }
        else
        {
            <partial name="_Slide" />
            <div class="content content-components">
                <div class="container-fluid">
                    @*<ol class="breadcrumb df-breadcrumbs mg-b-10">
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Form Elements</li>
                        </ol>*@
                    @RenderSection("MenuTop", required: false)
                    @RenderBody()
                </div>
            </div>
        }

    }
    <div class="modal fade" id="ModalFormProcessing" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p id="ModalFormProcessing_text">Guardando información</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalFormViewMedium" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body pd-20 pd-sm-30" id="ModalFormViewMedium_contente" data-renderContent="Empleado">
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div class="modal fade" id="modalFormSartSession" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body pd-20 pd-sm-40">
                    <div class="row no-gutters">
                        <div class="col-3 col-sm-5 col-md-6 col-lg-5 bg-primary rounded-left">
                            <div class="wd-100p ht-100p">
                                <img src="https://image.freepik.com/vector-gratis/empresarios-reunion-isometrica-ilustracion_23-2148324644.jpg" class="wd-100p img-fit-cover img-object-top rounded-left" alt="">
                            </div>
                        </div><!-- col -->
                        <div class="col-9 col-sm-7 col-md-6 col-lg-7 bg-white rounded-right">
                            <div>
                                <h4>Grupo Splittel</h4>
                                <p class="tx-color-03">Por favor inicia sesión de nuevo para continuar.</p>
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" placeholder="Usuario" id="gl_UserName">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-between mg-b-5">
                                        <label class="mg-b-0-f">Contraseña</label>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Introduce tu contraseña" id="gl_Pass">
                                </div>
                                <button class="btn btn-primary btn-block" onclick="gl_validSessionFomr(this)">Iniciar</button>
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <environment include="Development">
        <partial name="_Scripts" />
    </environment>
    <environment exclude="Development">
        <partial name="_Scripts" />
    </environment>
    @RenderSection("Scripts", required: false)
    @if (controllerName == "Evaluacion" && controllerAction == "MisEvaluaciones" || controllerName == "Evaluacion" && controllerAction == "Index")
    {
        <script>
            $(document).ready(function () {
                //$('.table').DataTable({
                //    language: {
                //        searchPlaceholder: 'Search...',
                //        sSearch: '',
                //        lengthMenu: '_MENU_ items/page',
                //    },
                //    columnDefs: [
                //        { orderable: false, targets: 0 }
                //    ],
                //    "order": [[0, "desc"]]
                //});
                $('.select2').select2({
                    placeholder: 'Seleccióna una opción',
                    searchInputPlaceholder: 'Search options'
                });
            });
        </script>
    }
    else
    {
        if (controllerName == "Evaluacion" && controllerAction == "Details")
        {
            <script>
                $(document).ready(function () {
                    $('#inpt_newPart').select2({
                        placeholder: 'Seleccióna una opción',
                        searchInputPlaceholder: 'Search options',
                        dropdownParent: $('#modalActividadVacacionesPeriodos')
                    });
                    $('#sleectDepartamtnso').select2({
                        placeholder: 'Seleccióna una opción',
                        searchInputPlaceholder: 'Search options',
                        dropdownParent: $('#modal_addDepartamentos')
                    });

                });
            </script>
        }
        else
        {
            <script>
                $(document).ready(function () {
                    //$('.table').DataTable({
                    //    language: {
                    //        searchPlaceholder: 'Search...',
                    //        sSearch: '',
                    //        lengthMenu: '_MENU_ items/page',
                    //    },
                    //    responsive: true
                    //});
                    $('.select2').select2({
                        placeholder: 'Seleccióna una opción',
                        searchInputPlaceholder: 'Search options'
                    });
                });
            </script>
        }

    }

</body>
</html>
