@model IEnumerable<GPSInformation.Models.PersonaContacto>
@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Información contacto de emergencia";
    var Accesos = (Dictionary<string, GPSInformation.Controllers.AccesosUs>)ViewBag.Accesos;
}
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
    </div>
    <div class="btn-group">
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("user_id") == ViewBag.IdPersona || Accesos["AEscrituraEmpleados"].TieneAcceso)
            {
                <a href="#content_contEmergen" type="button" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpContEmergencialCreate","ColaboradorSplittel", new  { id = ViewBag.IdPersona })" data-mode="form" onclick="GetViewAccess(this)">
                    <i class="icon ion-md-add mg-r-5 tx-16 lh--9"></i></a>
            }
        <a href="#content_contEmergen" type="button" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpContEmergenciaList","ColaboradorSplittel", new  { id = ViewBag.IdPersona })" id="test_btn" onclick="GetViewAccess(this)">
            <i class="icon ion-md-refresh mg-r-5 tx-16 lh--9"></i>
        </a>

    </div>
</div>
<hr />

<div class="row row-xs mg-b-25">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-3 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreCompleto)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Cat_Parentezcos.Label)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Editado)</p>
                    <a href="#content_contEmergen" class="card-link" data-rute="@Url.Action("EmpContEmergenciaDetails","ColaboradorSplittel", new  { id = item.IdPersonaContacto })" id="test_btn" onclick="GetViewAccess(this)">Detalles</a>
                </div>
            </div>
        </div><!-- col -->
    }
    @if (Model.Count() == 0)
    {
        <div class="container ht-100p tx-center">
            <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://img.icons8.com/fluency/96/000000/matt-paper.png" class="img-fluid" alt=""></div>
                <h3 class="tx-color-02 ">Sin contactos de emergencia!</h3>
            </div>
        </div><!-- container -->
    }
</div><!-- contact-list -->
