@model GPSInformation.Models.PersonaContacto

<div>
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <h4 class="mg-b-0 tx-spacing--1">Información contacto de emergencia</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="#" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpContEmergenciaEdit","ColaboradorSplittel", new  { id = Model.IdPersonaContacto })" data-mode="form" onclick="GetViewAccess(this)">
                <i data-feather="refresh" class="wd-10 mg-r-5"></i>Refrescar
            </a>
        </div>
    </div>
    <hr />
    <label class="col-sm-12 col-form-label bg-light mb-3">@Html.DisplayNameFor(model => model.Editado) : @Html.DisplayFor(model => model.Editado)</label>
    <form asp-action="EmpContEmergenciaEdit" asp-controller="ColaboradorSplittel" enctype="application/x-www-form-urlencoded" class="ExcecForm" name="EmpPersonaEdit" id="EmpPersonaEdit">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Estimado usuario!</h4>
                <p>@ViewBag.SuccessMessage</p>
                <hr>
                <p class="mb-0">Atte: Sistema gestión de personal</p>
            </div>
        }

        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
        {
            <div class="alert alert-danger  mg-b-0 mt-3 mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @Html.ValidationSummary(true, "Errores: ")
            </div>
        }
        <div class="form-group row">
            <label asp-for="NombreCompleto" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="hidden" asp-for="IdPersonaContacto" class="form-control" />
                <input type="hidden" asp-for="IdPersona" class="form-control" />
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <label asp-for="Telefono" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CodigoPostal" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <label asp-for="IdParentezco" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-for="IdParentezco" asp-items="ViewBag.ContactoParentezco" class="form-control select2">
                    <option value="0">Selecciona una opción</option>
                </select>
                <span asp-validation-for="IdParentezco" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Direccion" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Direccion" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mg-b-0">
            <div class="col-sm-12 text-right">
                <button type="reset" class="btn btn-sm btn-secondary" data-rute="@Url.Action("EmpContEmergenciaDetails","ColaboradorSplittel", new  { id = Model.IdPersonaContacto })" onclick="GetViewAccess(this)">
                    @Html.Raw(ViewBag.SuccessMessage == null ? "Cancelar" : "Terminar")
                </button>
                <button type="submit" class="btn btn-sm btn-primary">Actualizar información</button>
            </div>
        </div>
    </form>
</div>