@model GPSInformation.Models.PersonaContacto
@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Detalle de contacto de emergencia";
    var Accesos = (Dictionary<string, GPSInformation.Controllers.AccesosUs>)ViewBag.Accesos;
}
<div>
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item" aria-current="page"><a href="#content_contEmergen" data-rute="@Url.Action("EmpContEmergenciaList","ColaboradorSplittel", new { id = Model.IdPersona })" onclick="GetViewAccess(this)">Lista de contactos</a> </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="#content_contEmergen" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpContEmergenciaDetails","ColaboradorSplittel", new  { id = Model.IdPersonaContacto })" onclick="GetViewAccess(this)">
                <i class="icon ion-md-refresh mg-r-5 tx-16 lh--9"></i>
            </a>
            @if (HttpContextAccessor.HttpContext.Session.GetInt32("user_id") == Model.IdPersona || Accesos["AEscrituraEmpleados"].TieneAcceso)
            {
                <a href="#content_contEmergen" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpContEmergenciaEdit","ColaboradorSplittel", new  { id = Model.IdPersonaContacto })" data-mode="form" onclick="GetViewAccess(this)">
                    <i class="icon ion-md-create mg-r-5 tx-16 lh--9"></i>
                </a>
                <a href="#content_contEmergen" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpContEmergenciaDelete","ColaboradorSplittel", new  { id = Model.IdPersonaContacto })" onclick="ValidViewActionAccess(this,'Eliminar este contacto de emergencia')">
                    <i class="icon ion-md-trash mg-r-5 tx-16 lh--9"></i>
                </a>
            }
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.IdParentezco)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.Cat_Parentezcos.Label)
        </dd>
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.Creado)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.Creado)
        </dd>
        <dt class="col-lg-2 col-form-label">
            @Html.DisplayNameFor(model => model.Editado)
        </dt>
        <dd class="col-lg-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => model.Editado)
        </dd>
    </dl>
</div>
<div class="form-group row mg-b-0">
    <div class="col-sm-12 text-right">
        <a href="#content_contEmergen" class="btn btn-sm pd-x-15 btn-primary btn-uppercaser" data-rute="@Url.Action("EmpContEmergenciaList","ColaboradorSplittel", new  { id = Model.IdPersona })" onclick="GetViewAccess(this)">Lista de contactos de emergencia</a>
    </div>
</div>
