@model GPSInformation.Models.InformacionMedica
@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Información medica";
    var Accesos = (Dictionary<string, GPSInformation.Controllers.AccesosUs>)ViewBag.Accesos;
}
<div>
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="#" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpInfoMedicaDetails","ColaboradorSplittel", new  { id = ViewBag.IdPersona })" onclick="GetViewAccess(this)">
                <i data-feather="refresh" class="wd-10 mg-r-5"></i>Refrescar
            </a>
            @if (Model != null)
            {
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("user_id") == Model.IdPersona || Accesos["AEscrituraEmpleados"].TieneAcceso)
                {
                    <a href="#" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpInfoMedicaEdit","ColaboradorSplittel", new  { id = Model.IdPersona })" data-mode="form" onclick="GetViewAccess(this)"><i data-feather="refresh" class="wd-10 mg-r-5"></i>Editar</a>
                }
            }
        </div>
    </div>

    @if (Model == null)
    {

        <div class="container ht-100p tx-center">
            <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://img.icons8.com/fluency/96/000000/matt-paper.png" class="img-fluid" alt=""></div>
                <h3 class="tx-color-02 ">Sin información medica!</h3>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("user_id") == Model.IdPersona || Accesos["AEscrituraEmpleados"].TieneAcceso)
                {
                    <a href="#" class="btn btn-sm pd-x-15 btn-primary btn-uppercaser" data-rute="@Url.Action("EmpInfoMedicaCreate","ColaboradorSplittel", new  { id = ViewBag.IdPersona })" data-mode="form" onclick="GetViewAccess(this)"><i data-feather="refresh" class="wd-10 mg-r-5"></i>Agregar información</a>
                }
            </div>
        </div><!-- container -->
    }
    else
    {
        <hr />
        <dl class="row">
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.TipoSangre)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Cat_TiposSangre.Label)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Alergias)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Cat_Alergias.Label)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Altura)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Altura)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Peso)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Peso)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Talla)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Talla)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.IMC)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.IMC)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Comentarios)
            </dt>
            <dd class="col-lg-10 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Comentarios)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Creado)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Creado)
            </dd>
            <dt class="col-lg-2 col-form-label">
                @Html.DisplayNameFor(model => model.Editado)
            </dt>
            <dd class="col-lg-4 col-form-label bg-light mb-1">
                @Html.DisplayFor(model => model.Editado)
            </dd>
        </dl>

    }
</div>



