@model GPSInformation.Models.Persona

<div>
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <h4 class="mg-b-0 tx-spacing--1">Información Personal</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="#" class="btn btn-sm pd-x-15 btn-white btn-uppercaser" data-rute="@Url.Action("EmpPersonaEdit","ColaboradorSplittel", new  { id = Model.IdPersona })" data-mode="form" onclick="GetViewAccess(this)">
                <i data-feather="refresh" class="wd-10 mg-r-5"></i>Refrescar
            </a>
        </div>
    </div>
    <hr />
    <label class="col-sm-12 col-form-label bg-light mb-3">@Html.DisplayNameFor(model => model.Actualizado) : @Html.DisplayFor(model => model.Actualizado)</label>
    <form asp-action="EmpPersonaEdit" asp-controller="ColaboradorSplittel" enctype="application/x-www-form-urlencoded" class="ExcecForm" name="EmpPersonaEdit" id="EmpPersonaEdit">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Estimado usuario!</h4>
                <p>@ViewBag.SuccessMessage</p>
                <hr>
                <p class="mb-0">Atte: Sistema gestión de personal</p>
            </div>
        }

        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
        {
            <div class="alert alert-danger  mg-b-0 mt-3 mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @Html.ValidationSummary(true, "Errores: ")
            </div>
        }
        <div class="row form-group">
            <label asp-for="Nombre" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="hidden" asp-for="IdPersona" class="form-control" />
                <input type="hidden" asp-for="Empleado" class="form-control" />
                <input type="hidden" asp-for="Creado  " class="form-control" />
                <input type="hidden" asp-for="Actualizado" class="form-control" />
                <input type="text" asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <label asp-for="ApellidoPaterno" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="ApellidoMaterno" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <label asp-for="Nacimiento" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="date" asp-for="Nacimiento" class="form-control" />
                <span asp-validation-for="Nacimiento" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="IdGenero" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-for="IdGenero" asp-items="ViewBag.Genero" class="form-control select2">
                    <option value="0">Selecciona una opción</option>
                </select>
                <span asp-validation-for="IdGenero" class="text-danger"></span>
            </div>
            <label asp-for="IdEstadoCivil" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-for="IdEstadoCivil" asp-items="ViewBag.EstadoCivil" class="form-control select2">
                    <option value="0">Selecciona una opción</option>
                </select>
                <span asp-validation-for="IdEstadoCivil" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="RFC" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="RFC" class="form-control" />
                <span asp-validation-for="RFC" class="text-danger"></span>
            </div>
            <label asp-for="CURP" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="CURP" class="form-control" />
                <span asp-validation-for="CURP" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NSS" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="NSS" class="form-control" />
                <span asp-validation-for="NSS" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="TelefonoPersonal" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="TelefonoPersonal" class="form-control" />
                <span asp-validation-for="TelefonoPersonal" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="TelefonoFijo" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="TelefonoFijo" class="form-control" />
                <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
            </div>
            <label asp-for="CodigoPostal" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Colonia" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="text" asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Calle" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="text" asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mg-b-0">
            <div class="col-sm-12 text-right">
                <button type="reset" class="btn btn-sm btn-secondary" data-rute="@Url.Action("EmpPersonalDetails","ColaboradorSplittel", new  { id = Model.IdPersona })" onclick="GetViewAccess(this)">
                    @Html.Raw(ViewBag.SuccessMessage == null ? "Cancelar" : "Terminar")
                </button>
                <button type="submit" class="btn btn-sm btn-primary">Actualizar información</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
