@{
    ViewData["Title"] = "Mis Solicitudes";
    List<GPSInformation.Models.IncidenciaPermiso> Permisos = ViewBag.Permisos;
    List<GPSInformation.Models.IncidenciaVacacion> Vacaciones = ViewBag.Vacaciones;
}

@if ((bool)ViewBag.isPartial == false)
{
    @section MenuTop{
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
            </div>
            <div class="d-none d-md-block">
                <a href="@Url.Action("Create","IncVacacion",new { idPersona_ = ViewBag.IdPersona, isPartial = false })" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="plus" class="wd-10 mg-r-5"></i>Crear solicitud de vacaciones</a>
                <a href="@Url.Action("Create","IncPermiso",new { idPersona_ = ViewBag.IdPersona, isPartial = false })" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="plus" class="wd-10 mg-r-5"></i>Crear solicitud de permisos</a>
            </div>
        </div>
    }
}
else
{
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="#" data-rute="@Url.Action("Create","IncVacacion", new { idPersona_ = ViewBag.IdPersona, isPartial = true })" data-mode="form" onclick="GetViewAccess(this)" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="plus" class="wd-10 mg-r-5"></i>Crear solicitud de vacaciones</a>
            <a href="#" data-rute="@Url.Action("Create","IncPermiso", new { idPersona_ = ViewBag.IdPersona, isPartial = true })" data-mode="form" onclick="GetViewAccess(this)" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="plus" class="wd-10 mg-r-5"></i>Crear solicitud de Permisos</a>
            <a href="#" data-rute="@Url.Action("MisSolicitudes","Incidencias", new { id = ViewBag.IdPersona, isPartial = true })" onclick="GetViewAccess(this)" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="plus" class="wd-10 mg-r-5"></i>Refrescar</a>
        </div>
    </div>
}





<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link @Html.Raw(ViewBag.Tab == "Vacaciones" ? "active" : "")" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Vacaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @Html.Raw(ViewBag.Tab == "Permisos" ? "active" : "")" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Permisos</a>
    </li>

</ul>
<div class="tab-content bd bd-gray-300 bd-t-0 pd-20" id="myTabContent">
    <div class="tab-pane fade @Html.Raw(ViewBag.Tab == "Vacaciones" ? "show active" : "")" id="home" role="tabpanel" aria-labelledby="home-tab">
        
        @if (Vacaciones.Count() == 0)
        {
            <div class="container ht-100p tx-center">
                <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                    <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://img.icons8.com/fluency/96/000000/matt-paper.png" class="img-fluid" alt=""></div>
                    <h3 class="tx-color-02 ">Sin solicitudes de vacaciones!</h3>
                </div>
            </div><!-- container -->
        }
        else{
    <table class="table table-condensed table-hover display compact commontable" id="lista_misSolicitudesVaca">
        <thead>
            <tr>
                <th>
                    Folio
                </th>
                <th>
                    Empleado
                </th>
                <th>
                    No.Dias
                </th>
                <th>
                    Salida
                </th>
                <th>
                    ultimo día
                </th>
                <th>
                    Creada por
                </th>
                <th>
                    Estatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Vacaciones)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Folio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpleadoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoDias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fin)
                    </td>
                    <td>
                        <span class="badge badge-@Html.Raw(item.CreadoPor == "A" ? "success" : "primary")">@Html.Raw(item.CreadoPor == "A" ? "GPS" : "Empleado")</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstatusDescricion)
                    </td>
                    <td>
                        @if ((bool)ViewBag.isPartial == false)
                        {
                            @Html.ActionLink("Detalle", "Details", "IncVacacion", new { id = item.IdIncidenciaVacacion, isPartial = false })
                        }
                        else
                        {
                            <a href="#" data-rute="@Url.Action("Details","IncVacacion", new { id = item.IdIncidenciaVacacion, isPartial = true })" onclick="GetViewAccess(this)">Detalle</a>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
        }
    </div>
    <div class="tab-pane fade @Html.Raw(ViewBag.Tab == "Permisos" ? "show active" : "")" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        
        @if (Permisos.Count() == 0)
        {
            <div class="container ht-100p tx-center">
                <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                    <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://img.icons8.com/fluency/96/000000/matt-paper.png" class="img-fluid" alt=""></div>
                    <h3 class="tx-color-02 ">Sin solicitudes de permisos!</h3>
                </div>
            </div><!-- container -->
        }
        else{
    <table class="table table-condensed table-hover display compact commontable" id="lista_misSolicitudes">
        <thead>
            <tr>
                <th>
                    Folio
                </th>
                <th>
                    Empleado
                </th>
                <th>
                    Fe.Permiso
                </th>
                <th>
                    Hora.Salida
                </th>
                <th>
                    Hora.Regreso
                </th>
                <th>
                    Creada por
                </th>
                <th>
                    Estatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Permisos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Folio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpleadoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fin)
                    </td>
                    <td>
                        <span class="badge badge-@Html.Raw(item.CreadoPor == "A" ? "success" : "primary")">@Html.Raw(item.CreadoPor == "A" ? "GPS" : "Empleado")</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstatusDescricion)
                    </td>
                    <td>
                        @if ((bool)ViewBag.isPartial == false)
                        {
                            @Html.ActionLink("Detalle", "Details", "IncPermiso", new { id = item.IdIncidenciaPermiso })
                        }
                        else
                        {
                            <a href="#" data-rute="@Url.Action("Details","IncPermiso", new { id = item.IdIncidenciaPermiso, isPartial = true })" onclick="GetViewAccess(this)">Detalle</a>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
        }
    </div>
</div>
@if ((bool)ViewBag.isPartial == false)
{

}
else
{
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            'use strict'

            $('#lista_misSolicitudes').DataTable({
                //responsive:true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                },
                ordering: false
            });
            $('#lista_misSolicitudesVaca').DataTable({
                //responsive:true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                },
                ordering: false
            });

        });
    </script>
}

