@model GPSInformation.Responses.InAutorizacion
@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor
@{
    var Details = (GPSInformation.Models.IncidenciaVacacion)ViewBag.Details;
    var sstepSelected = Details.Proceso.Find(a => a.Nivel == Model.Modee);
    ViewData["Title"] = "Autorizar solicitud: " + Details.Folio;
}
@section MenuTop{
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action(Model.Modee == 2 ? "SolicitudesN1" : "SolicitudesN2","Incidencias", new {Tab = "Vacaciones" })">Solicitudes Pendientes</a> </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="d-none d-md-block">
            @*<a asp-action="Create" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="edit" class="wd-10 mg-r-5"></i>Editar</a>*@
        </div>
    </div>
}
<div data-label="Autorizar permiso" class="df-example demo-forms" id="app_createPermiso">
    @*@if (Details.Estatus >= 4)
    {
        <div class="alert alert-@Details.EstatusColor mg-b-0 mt-3 mb-3" role="alert">
            Estimado usuario, la solcitud se encuentra con estatus  <strong>@Details.EstatusDescricion</strong> @Html.Raw(Details.Estatus == 7 ? $"" : "")
        </div>
    }*@
    <h4 class="bg-light">I. Solicitante</h4>
    @await Component.InvokeAsync("ValidPuestoEnOrganigrama", new { id = Details.IdPersona })
    <h4 class="bg-light">II. Detalle de solicitud</h4>
    <dl class="dl-horizontal row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => Details.IdIncidenciaVacacion)
        </dt>
        <dd class="col-md-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => Details.IdIncidenciaVacacion)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => Details.Inicio)
        </dt>
        <dd class="col-md-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => Details.Inicio)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => Details.Fin)
        </dt>
        <dd class="col-md-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => Details.Fin)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => Details.NoDias)
        </dt>
        <dd class="col-md-4 col-form-label bg-light mb-1">
            @Html.DisplayFor(model => Details.NoDias)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => Details.EstatusDescricion)
        </dt>
        <dd class="col-md-4 col-form-label bg-light mb-1">
            <span class="badge badge-pill badge-@Html.DisplayFor(modelItem => Details.EstatusColor)">@Html.DisplayFor(modelItem => Details.EstatusDescricion)</span>
        </dd>
        @if (Details.ArchivoScan != "")
        {
            <dt class="col-md-2 col-form-label">
                @Html.DisplayNameFor(model => Details.Archivo)
            </dt>
            <dd class="col-md-4 col-form-label bg-light mb-1">
                <a href="@Url.Action("DowloadFile","IncVacacion",new  { fileName = Details.ArchivoScan, IdPersona = Details.IdPersona })" title="click aqui para descargar">@Details.ArchivoScan</a>
            </dd>

        }
    </dl>
    <h4 class="bg-light">III. Autorización</h4>
    @if (Details.Estatus == Model.Modee)
    {
<form asp-action="Autorizar">
    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
    {
        <div class="alert alert-danger  mg-b-0 mt-3 mb-3" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errores: ")
        </div>
    }
    <input type="hidden" asp-for="IdIncidencia" class="form-control" />
    <input type="hidden" asp-for="Modee" class="form-control" />
    <input type="hidden" asp-for="IdAutorizante" class="form-control" />
    <input type="hidden" asp-for="NombreApro" class="form-control" />
    <div class="form-group row">
        <label asp-for="Comentarios" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Comentarios" class="form-control"></textarea>
            <span asp-validation-for="Comentarios" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="checkbox col-md-offset-2 col-md-4">
            <label>
                <input asp-for="Autoriza" /> @Html.DisplayNameFor(model => model.Autoriza)
            </label>
        </div>
    </div>
    <div class="form-group row mg-b-0">
        <div class="col-sm-12 text-right">
            <a href="@Url.Action( Model.Modee == 2 ? "SolicitudesN1" : "SolicitudesN2","IncVacacion")" class="btn btn-sm btn-secondary">Regresar a solicitudes</a>
            <button type="submit" class="btn btn-sm btn-primary">Guardar cambios</button>
        </div>
    </div>
</form>
    }
    else
    {


        if (Model.Modee == 3 && Details.Proceso.Find(a => a.Nivel == 2).Revisada == false)
        {


            <div class="alert alert-warning mg-b-0" role="alert">
                Estimado usuario, para poder autorizar la solicitud se requiere primero la autorización del jefe inmediato del solicitante
            </div>
        }
        else
        {
            if (Model.Modee == 2 || Model.Modee == 3)
            {
                if (sstepSelected.Revisada)
                {
<div class="alert alert-warning mg-b-0 mt-4" role="alert">
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("user_id") == sstepSelected.IdPersona)
    {
        if (DateTime.Now.AddSeconds(-30) < sstepSelected.Fecha)
        {
            <span>Estimado usuario gracias por procesar esta solicitud</span>
        }
        else
        {
            <span>Estimado usuario ya has procesado esta solicitud</span>
        }
    }
    else
    {
        <span>Estimado usuario, ya fue procesada esta solicitud</span>
    }

</div>
                    <dl class="dl-horizontal row  border pt-4 pb-4   @Html.Raw(sstepSelected.Revisada  ? "border-warning" : "" )">
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.Fecha)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.Fecha)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.Autorizada)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.Autorizada)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.Comentarios)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.Comentarios)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.NombreEmpleado)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.NombreEmpleado)
                        </dd>
                    </dl>
                }
            }

        }

    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
