@model GPSInformation.Models.Persona

@{
    ViewData["Title"] = "Editar perfil";

    GPSInformation.Models.InformacionMedica informacionMedica = new GPSInformation.Models.InformacionMedica() { IdPersona = Model.IdPersona };
    GPSInformation.Models.Empleado EmpleadoEmpleado = new GPSInformation.Models.Empleado() { IdPersona = Model.IdPersona, Ingreso = DateTime.Now };
    GPSInformation.Models.PersonaContacto PersonaContacto = new GPSInformation.Models.PersonaContacto() { IdPersona = Model.IdPersona };
}
<link href="~/template/lib/select2/css/select2.min.css" rel="stylesheet" />
@section MenuTop{
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#modalActividadVacacionesPeriodos" data-toggle="modal" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Cambiar foto de perfil</a>
            <a asp-action="CambioPass" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Cambiar contraseña</a>
        </div>
    </div>
}
<div id="app_det_empleado">
    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
        </div><!-- card-header -->
        <div class="card-body pd-25" data-renderContent="Empleado" id="content_persona">
            <a href="#" id="btn_GetViewAccess1" data-rute="@Url.Action("EmpPersonalDetails","ColaboradorSplittel", new { id = Model.IdPersona })" onclick="GetViewAccess(this)"></a>
        </div>
    </div><!-- card -->

    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">

        </div><!-- card-header -->
        <div class="card-body pd-25" data-renderContent="Empleado" id="content_medica">
            <a href="#" id="btn_GetViewAccess2" data-rute="@Url.Action("EmpInfoMedicaDetails","ColaboradorSplittel", new { id = Model.IdPersona })" onclick="GetViewAccess(this)"></a>
        </div>
    </div><!-- card -->



    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
        </div><!-- card-header -->
        <div class="card-body pd-25" data-renderContent="Empleado" id="content_contEmergen">
            <a href="#" id="btn_GetViewAccess3" data-rute="@Url.Action("EmpContEmergenciaList","ColaboradorSplittel", new { id = Model.IdPersona })" onclick="GetViewAccess(this)"></a>
        </div>
    </div><!-- card -->
    <div class="modal calendar-modal-create fade effect-scale" id="modalActividadVacacionesPeriodos" role="dialog" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body pd-20 pd-sm-30">
                    <button type="button" class="close pos-absolute t-20 r-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i data-feather="x"></i></span>
                    </button>
                    <h5 class="tx-18 tx-sm-20 mg-b-20 mg-sm-b-30">Cambio de foto de perfil</h5>

                    <div id="content_vacacionesAcitivitdssdfsdf">
                        <form asp-action="FotoPerfil" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Foto</label>
                                <input type="file" accept=".png,.jpg,.jpeg,.gif" name="foto" id="foto" class="form-control" />
                            </div>
                            <div class="form-group row mg-b-0">
                                <div class="col-sm-12 text-right">
                                    <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancelar</a>
                                    <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    var App_editEmpleado = new Vue({
        el: "#app_det_empleado",
        data: {
            
        },
        mounted() {
            document.getElementById("btn_GetViewAccess1").click()
            document.getElementById("btn_GetViewAccess2").click()
            document.getElementById("btn_GetViewAccess3").click()

        },
        methods: {
            
        }
    });
    </script>
}