@model GPSInformation.Responses.InAutorizacion

@{
    var Details = (GPSInformation.Models.IncidenciaPermiso)ViewBag.Details;
    var sstepSelected = Details.Proceso.Find(a => a.Nivel == Model.Mode);
    ViewData["Title"] = "Autorizar solicitud: " + Details.Folio;
}
@section MenuTop{
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@ViewData["Title"]</h4>
        </div>
        <div class="d-none d-md-block">
            @*<a asp-action="Create" class="btn btn-sm pd-x-15 btn-white btn-uppercaser"><i data-feather="edit" class="wd-10 mg-r-5"></i>Editar</a>*@
        </div>
    </div>
}
<div data-label="Crear Nuevo Permiso" class="df-example demo-forms" id="app_createPermiso">
    @if(Details.Estatus >= 4)
    {
        <div class="alert alert-@Details.EstatusColor mg-b-0 mt-3 mb-3" role="alert">
            Estimado usuario, la solcitud se encuentra con estatus  <strong>@Details.EstatusDescricion</strong> @Html.Raw(Details.Estatus == 7 ? $"" : "")
        </div>
    }
    <h4 class="bg-light">I. Solicitante</h4>
    <hr />
    @await Component.InvokeAsync("ValidPuestoEnOrganigrama", new { id = Details.IdPersona })
    <h4 class="bg-light">II. Detalle de solicitud</h4>
    <hr />
    <dl class="dl-horizontal row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.Folio)
        </dt>
        <dd class="col-md-4 border">
            @Html.DisplayFor(model => Details.Folio)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.Fecha)
        </dt>
        <dd class="col-md-4 border">
            @Details.Fecha.ToString("F")
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.Inicio)
        </dt>
        <dd class="col-md-4 border">
            @Html.DisplayFor(model => Details.Inicio)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.Fin)
        </dt>
        <dd class="col-md-4 border">
            @Html.DisplayFor(model => Details.Fin)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.DEscripcionTipo)
        </dt>
        <dd class="col-md-4 border">
            @Html.DisplayFor(model => Details.DEscripcionTipo)
        </dd>
        <dt class="col-md-2">
        </dt>
        <dd class="col-md-4 ">
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.DescripcionAsunto)
        </dt>
        <dd class="col-md-10 border">
            @Html.DisplayFor(model => Details.DescripcionAsunto)
        </dd>
        @if (Details.IdAsunto == 36)
        {
            <dt class="col-md-2">
                @Html.DisplayNameFor(model => Details.PagoPermisoDesc)
            </dt>
            <dd class="col-md-4 border">
                @Html.DisplayFor(model => Details.PagoPermisoDesc)
            </dd>
        }
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => Details.EstatusDescricion)
        </dt>
        <dd class="col-md-4 border">
            @Html.DisplayFor(model => Details.EstatusDescricion)
        </dd>
    </dl>
    <h4 class="bg-light">III. Autorizar</h4>
    <hr />
    @if (Details.Estatus == Model.Mode)
    {
        <form asp-action="Autorizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdIncidencia" class="form-control" />
            <input type="hidden" asp-for="Mode" class="form-control" />
            <input type="hidden" asp-for="IdAutorizante" class="form-control" />
            <input type="hidden" asp-for="NombreApro" class="form-control" />
            <div class="form-group row">
                <div class="checkbox col-md-offset-2 col-md-4">
                    <label>
                        <input asp-for="Autoriza" /> @Html.DisplayNameFor(model => model.Autoriza)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Comentarios" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="Comentarios" class="form-control"></textarea>
                    <span asp-validation-for="Comentarios" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mg-b-0">
                <div class="col-sm-12 text-right">
                    <a href="@Url.Action( Model.Mode == 2 ? "SolicitudesN1" : "SolicitudesN2","IncPermiso")" class="btn btn-sm btn-secondary">Regresar a solicitudes</a>
                    <button type="submit" class="btn btn-sm btn-primary">Guardar cambios</button>
                </div>
            </div>
        </form>
    }
    else
    {


        if (Model.Mode == 3 && Details.Proceso.Find(a => a.Nivel == 2).Revisada == false)
        {


            <div class="alert alert-warning mg-b-0" role="alert">
                Estimado usuario, para poder autorizar la solicitud se requiere primero la autorización del jefe inmediato del solicitante
            </div>
        }
        else
        {
            if (Model.Mode == 2 || Model.Mode == 3)
            {
                if (sstepSelected.Revisada)
                {
                    <div class="alert alert-warning mg-b-0 mt-4" role="alert">
                        Estimado usuario, ya fue procesada esta solicitud
                    </div>
                    <dl class="dl-horizontal row  border pt-4 pb-4   @Html.Raw(sstepSelected.Revisada  ? "border-warning" : "" )">
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.Fecha)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.Fecha)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.Autorizada)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.Autorizada)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.Comentarios)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.Comentarios)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => sstepSelected.NombreEmpleado)
                        </dt>
                        <dd class="col-md-4 border">
                            @Html.DisplayFor(model => sstepSelected.NombreEmpleado)
                        </dd>
                    </dl>
                }
            }

        }

    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
